.header{

/* width:100%;

/* border-bottom: 2px solid black; 
position:fixed;
display:flex;
justify-content: center;
text-transform: uppercase;
background-color: #e8e8e4;
font-family: 'Courier New', Courier, monospace;
font-size: 5vw;   /* %vw width od website acc*/
/* padding-bottom:15px;
box-shadow:0 px 1px 5px 3a0c4ff;
color:#b7b7a4;
z-index: 100; */


    width:100%;
    cursor:pointer;
    position:fixed;
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #070707;
    font-family:'Times New Roman', Times, serif;
    font-size: 5vw;   /* %vw width od website acc*/
    padding-bottom:15px;
    color:#dddbe9;
    z-index: 100;

}

@media(max-width:1100px){
    .header{
        padding-top:15px;
        font-size:6.4vw;
    }
}