


.heart {
    position: center;
    color: rgb(88, 86, 86);
    /* left: 15px; */
    /* top: ; */
}

.cross{
    position:absolute;
    right:10px;
}




.movieimg{
    /* display:flex;
    flex-direction:column;
    width:200px;
    margin:4px 0;
    padding:4px;
    margin:15px;
    padding:4px;
    background-color: #13e997;
    border-radius:10px ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    position:relative; */

    display:flex;
flex-direction:column;
width: 175px;
height: 300px;
margin: 10px;
padding: 0px;
border-radius: 50px ;
font-family:'Times New Roman', Times, serif;
position: relative;
box-shadow: 5px 5px 10px #13e997;

}

/* 
.movieimg:hover{
    /* background-color:#ffe8d6; */
    /* background-color: #ffadad; */
    /* color:#e63946;
    text-transform: uppercase;
     */

/*     
} */ 
.movieimg:hover{
    background-color: #b8aeb8;
    /* color:#8917a0; */
    /* text-transform: uppercase; */
}


.maintitle{
    width:100%;
    padding:7px 10;
    font-size:16px;
    text-align:center;



}
.movieposter{
    border-radius: 30px;
    padding: 0px;
}



/* .movieTitle{
    display:flex;
    justify-content:space-between;
    padding-bottom:4px;
    padding:0 5px;
    
} */

